/LAB1/nbproject/private/
/LAB1/build/
/LAB2/nbproject/private/
/LAb 2/Lab2 part 1/LAB 2 part 1/nbproject/private/
/LAb 2/Lab2 part 1/LAB 2 part 1/build/
/LAb 2/Lab2 part 2/LAB 2 part 2/nbproject/private/
/LAb 2/LAB 2 part 1/build/
/LAb 2/LAB 2 part 1/nbproject/private/
/LAb 2/LAB 2 part 2/nbproject/private/
